.slider {
  width: 100%;
  height: 100%;
  position: relative;
  background: #FFF;
  z-index: 1;

  .items-block {
    overflow-x: scroll;
    position: relative;

    .wrapper {
      display: inline-flex;

      .item {
        min-height: 20rem;
        //border: 1px solid black;
        position: relative;

        .content {
          position: absolute;
          top: 0;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, 0);

          .image {
            border-radius: 1.5rem;
            min-width: 18.75rem;
            min-height: 14.06rem;
            border: 1px solid black;
          }
        }
      }
    }
  }

  .nav {
    position: absolute;
    top: 31%;
    padding: .4rem .3rem .2rem .3rem;
    border: 2px solid #ECBB3B;
    background: #F1F7FE;
    width: 1.5rem;
    box-shadow: 0px 8px 24px rgba(62, 91, 157, 0.5);
    text-align: center;
    border-radius: 48px;

    &.left {
      left: 3rem;

      svg {
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }
    }

    &.right {
      right: 3.5rem;
    }
  }


}