@import './../../styles/variables.scss';
.custom-slider-wrapper {
  position: relative;
  &.auto-slides .swiper-slide {
    width: auto;
    max-width: 100%;
  }
  &.pagination-active {
    padding-bottom: 2.25rem;
    .swiper-button-next, .swiper-button-prev {
      margin-top: -2.25rem;
    }
  }
  &.one-slide .swiper-wrapper {
    display: flex;
    justify-content: center;
  }
  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    right: -1.5rem;
    top: 50%;
    margin-top: -1.5rem;
  }
  .swiper-button-prev {
    left: -1.5rem;
  }
}
.custom-slider-inner {
  overflow: hidden;
}

.swiper-container {
  position: static;
}

.swiper-pagination {
  font-size: 0;
  line-height: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  background: #E6EAEF;
  opacity: 0.8;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 1rem;
}

.swiper-pagination-bullet-active {
  background: #ECBB3B;
}

.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}
.thumb-swiper {
  padding: 1.5rem 0 0;
  &.align-left, &.align-right {
      .swiper-wrapper {
      transform: none!important;
      flex-wrap: wrap;
    }
  }
  &.align-right .swiper-wrapper {
    justify-content: flex-end;
  }
  .swiper-slide {
    width: auto;
    opacity: 0.5;
    height: 5.625rem!important;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: $defaultHoverTransition;
    border: 2px solid transparent;
    cursor: pointer;
    &.swiper-slide-thumb-active {
      opacity: 1;
      border-color: $text-color-active;
    }
  }
}
@media (max-width: $medium-device-width) {
  .pagination-active .swiper-button-next, .pagination-active .swiper-button-prev {
    margin-top: -2.75rem;
  }  
}
