.slider {
  width: 100%;
  height: 100%;
  position: relative;
  background: #FFF;
  z-index: 1;

  .items-block {
    overflow-x: hidden;
    position: relative;

    .wrapper {
      display: inline-flex;

      .item {
        min-height: 20rem;
        //border: 1px solid black;
        position: relative;

        .content {
          position: absolute;
          top: 0;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, 0);
          height: inherit;
          width: inherit;

          .image {
            margin: 1rem;
            border-radius: 1.5rem;
            min-width: 18.75rem;
            min-height: 14.06rem;
            border: 1px solid black;
            height: 0;
            width: 0;
          }

          .text {
            //height: 2.875rem;
            overflow: hidden;

            .name {
              font-style: normal;
              font-weight: bold;
              font-size: 1.125rem;
              line-height: 1.25rem;
            }

            .description {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 22px;
              align-items: center;

              color: #62738D;

            }
          }
        }
      }
    }
  }

  .nav {
    position: absolute;
    top: 31%;
    padding: .4rem .3rem .2rem .3rem;
    background: #F1F7FE;
    width: 1.5rem;
    box-shadow: 0 8px 24px rgba(62, 91, 157, 0.5);
    text-align: center;
    border-radius: 3rem;

    &.left {
      left: 3rem;

      svg {
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }
    }

    &.right {
      right: 3.5rem;
    }
  }


}
