@import './../../styles/variables.scss';
.custom-slider-wrapper {
  position: relative;
  &.auto-slides .swiper-slide {
    width: auto;
    max-width: 100%;
  }
  &.pagination-active {
    padding-bottom: 2.25rem;
    .swiper-button-next, .swiper-button-prev {
      margin-top: -2.25rem;
    }
  }
}
.custom-slider-inner {
  overflow: hidden;
}
.swiper-button-next, .swiper-button-prev {
  width: 3rem;
  height: 3rem;
  color: $text-color-active;
  box-shadow: 0px 8px 24px rgba(62, 91, 157, 0.5);
  border-radius: 50%;
  background: #ffffff;
  right: -1.5rem;
  top: 50%;
  margin-top: -1.5rem;
  transition: $defaultHoverTransition;
  &:hover {
    background: #3E5B9D;
  }
}

 .swiper-button-prev {
   left: -1.5rem;
 }

.swiper-button-next:after, .swiper-button-prev:after {
  content: '';
  width: 0.8125rem;
  height: 0.8125rem;
  border-top: 0.125rem solid #ECBB3B;
  border-right: 0.125rem solid #ECBB3B;
  transform: rotate(45deg) skew(7deg, 7deg);
  margin: 0 0.375rem 0 0;
}
.swiper-button-prev:after {
  border-top: 0;
  border-right: 0;
  border-bottom: 0.125rem solid #ECBB3B;
  border-left: 0.125rem solid #ECBB3B;  
  margin: 0 0 0 0.375rem;
}

.swiper-container {
  position: static;
}

.swiper-pagination {
  font-size: 0;
  line-height: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  background: #E6EAEF;
  opacity: 0.8;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 1rem;
}

.swiper-pagination-bullet-active {
  background: #ECBB3B;
}

.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}
.thumb-swiper {
  padding: 1.5rem 0 0;
  .swiper-slide {
    width: auto;
    opacity: 0.5;
    height: 5.625rem!important;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: $defaultHoverTransition;
    border: 2px solid transparent;
    cursor: pointer;
    &.swiper-slide-active {
      opacity: 1;
      border-color: $text-color-active;
    }
  }
}
@media (max-width: $medium-device-width) {
  .pagination-active .swiper-button-next, .pagination-active .swiper-button-prev {
    margin-top: -2.75rem;
  }  
}
