@import './../../../styles/variables.scss';

.about-page-holder {
  background: $bg-lite-box;
  p {
    margin: 0 0 1rem;
    &.description {
      font-size: 1.5rem;
      line-height: 2.125rem;
    }
  }
  .title {
    margin: 0 0 1.5rem;
  }

  .about-content {
    max-width: 54.375rem;
    margin: 0 auto;
  }

  .block-holder {
    margin: 0 0 5rem;
  }
}