@import './../../../styles/variables.scss';

.about-page-holder {
  background: $bg-lite-box;
  p {
    margin: 0 0 1rem;
    &.description {
      font-size: 1.5rem;
      line-height: 2.125rem;
    }
  }
  .title {
    margin: 0 0 1.5rem;
  }

  .about-content {
    max-width: 54.375rem;
    margin: 0 auto;
  }

  .block-holder {
    margin: 0 0 5rem;
  }

  .docs {
    margin-top: 1rem;
  }
  .doc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;  
  }
  .pdf-icon {
    margin-right: 1rem;
  }
  .file-title {
    color: $text-color-active;
    text-align: start;
  }
}