@import './../../../styles/include-media';
@import './../../../styles/base/variables';
@import './../../../styles/variables';
@import './../../../styles/base/mixins';

.about-page-holder {
  background: $bg-lite-box;
  p {
    margin: 0 0 1rem;

    &.description {
      font-size: 24px;
      line-height: 1.5;

      @include media('≤phone') {
        font-size: 20px;
        line-height: 1.4;
      }
    }
  }
  .title {
    margin: 0 0 1.5rem;
  }

  .about-content {
    max-width: 54.375rem;
    margin: 0 auto;
  }
}

.list-docs {
  font-size: 24px;
  line-height: 1.5;
  color: $text-color-active;

  @include media('≤phone') {
    font-size: 20px;
    line-height: 1.4;
  }

  li {
    @include animate(color);
    position: relative;
    margin-bottom: 16px;
    padding-left: 44px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $base-link-hover-color;
    }
  }

  i {
    font-size: 0;
    position: absolute;
    top: 2px;
    left: 0;

    &:before {
      font-size: 32px;
    }
  }
}