.language {
  display: unset;
  position: absolute;
  top: 1.3rem;
  right: 5rem;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #1B78A8;
}