@import '../../styles/include-media';
@import '../../styles/base/variables';
@import '../../styles/variables';
@import '../../styles/base/mixins';
@import '../../styles/base/helpers';

.breadcrumbs {
  display: flex;
  margin: 0 -12px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: bold;

  @include media('≤phone') {
      flex-wrap: wrap;
  }

  li {
    display: flex;
    width: 367px;
    //margin-bottom: 24px;
    padding: 0 12px;

    @include media('≤tablet') {
      width: 50%;
    }

    @include media('≤phone') {
      width: 100%;
      //max-width: 367px;
      margin-bottom: 24px;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.breadcrumb {
  width: 100%;
  background-color: $white;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  align-items: center;

  &:hover {
    .btn {
      background-color: $btn-blue;
    }
  }

  span {
    padding-right: 28px;
  }

  .btn {
    flex-shrink: 0;
    margin-left: auto;

    &:before {
      @extend %icomoon;
      content: "\e90c";
      font-size: 14px;
    }
  }
}