@import '../../../../styles/include-media';
@import '../../../../styles/base/variables';
@import '../../../../styles/variables';
@import '../../../../styles/base/mixins';
@import '../../../../styles/base/helpers';

.section-tags-list {
  > header {
    padding-top: 0;
    margin-bottom: 0;
  }

  .back-link {
    margin-bottom: 36px;
  }

  i[class^="icon-"] {
    @include animate(color);
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    cursor: pointer;
    color: $text-lite-color;

    &:hover {
      color: $yellow;
    }

    &:before {
      @extend %icomoon;
      color: inherit;
      font-size: 24px;
    }

    &.icon-folder {
      &:before {
        font-size: 17px;
      }
    }
  }
}

.section-table {
  &.tags-table {
    .row {
      margin: 0 -12px;
    }

    .col {
      flex: 1 1 0;
      padding: 0 12px;

      @include media('≤tablet') {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }


    .col-edit {
      margin-left: auto;
    }

    .col-del,
    .col-edit {
      flex: 0 0 48px;
      max-width: 48px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;

      .disabled {
        pointer-events: none;
        color: #aaa;
      }
    }
  }
}

.t-item {
  border: 1px solid $btn-border;
  border-radius: 4px;
  padding: 10px 16px;
  border-top: 0;
  line-height: 48px;

  @include media('≤phone') {
    padding: 21px 24px;
  }
}

.row {
  align-items: center;

  @include media('≤phone') {
    align-items: stretch;
  }
}

.col-num {
  color: $text-lite-color;
  display: none;
}

