@import '../../../../styles/variables.scss'; 
header {
  height: auto;
  padding: 1rem 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $bg-lite-box;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;

    .logo-main {
      display: flex;
      .logo {
        width: 5.625rem;
        height: 5.625rem;
        margin: 0 1rem 0 0;
        background-color: $bg-orange;
        border-radius: 1.5rem;
      }
      .logo-text {
        font-style: normal;
        font-weight: 900;
        font-size: 1.75rem;
        line-height: 1.875rem;
        display: flex;
        align-items: center;
        max-width: 18.375rem;
      }
    }

    .contacts {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon-phone{
        position: relative;
        display:flex;
        align-items: center;
        width: 4.875rem;
        height: 4.875rem;
        padding: 2rem;
        margin-right: 0.875rem;
        box-sizing: border-box;
        background-color: $main-bg-color;
        border-radius: 50%;
        box-shadow: inset 0 0 0 15px rgba(236, 187, 59, 0.2);
        &:before {
          content:'';
          position: absolute;
          width: 3.75rem;
          height: 3.75rem;
          top: 50%;
          left:50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          box-shadow: inset 0 0 0 6px rgba(236, 187, 59, 0.5);
        }
      }
      .phone {
        display: flex;
        flex-direction: column;
        font-style: normal;
        .number {
          font-weight: normal;
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 2.0625rem;
          color: #0D2B4B;
        }
        .title {
          font-size: 1rem;
          line-height: 1.375rem;
          color: $text-lite-color;
        }
      }
    }

    .box-social-locale{
      display: flex;
      align-items: center;
      .change-locale {
        margin-left: 2rem;
        padding-top: 0.5rem;
      }
    }
    
  }
}
