@import '../../../../styles/variables.scss';
.header-bottom {
  width:100%;
  padding: 3rem 0 5rem 0;
  .content {
    flex-direction: row;
    display: flex;
  }
  .left-block {
    width:50%;
    line-height: 1.625rem;
    margin-right: 5.25rem;
    .box-text{
      text-align: left;
    }
    .text {
      font-size: 1.125rem;
      line-height: 1.5rem;
      color: #0D2B4B;
      margin-bottom: 2.25rem;
    }
  }
  .right-block{
    width: 50%;
    .slide{
      text-align: center;
    }
  }
  .order-center{
    display: none;
    margin-top: 2.5rem;
    .slide{
      padding: 0 1rem;
    }
  }
  .title {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }
    .block-more {
      padding: 0.5rem 0;
      margin-top: 1.75rem;
      font-weight: bold;
      font-style: normal;
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 2.5rem;
      cursor: pointer;
      a{
        text-decoration: none;
        color: $bg-orange;
      }
      p {
        color:$text-color-active;
        margin-right: 1rem;
        font-size: 1.25rem;
        vertical-align: middle;
      }
      &:hover, &:active {
       
        p{
          color: $btn-hover;
          transition: all 25ms;
        }
        .blue-circle {
          background-color: $text-color-active;
          transition: all 25ms;
          color: $main-bg-color;
          box-shadow: 0px 4px 16px rgba(62, 91, 157, 0.5);
        }
      }
    }

}
@media all and (max-width: 1118px) {
  .header-bottom {
    padding: 3rem 0 5rem 0;
  }
}
@media all and (max-width: 996px) {
  .header-bottom {
    padding: 2rem 0 5rem;
    .order-center{
      display: block;
      text-align: center;
    }
    .right-block{
      display: none!important;
    }
    .left-block{
      width: 100%;
      text-align: left;
      .order-center{
        margin-bottom: 1.5rem;
      }
    }
  }
}

@media all and (max-width: 508px) {
  .header-bottom .title{
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
}