@import '../../../../styles/variables.scss'; 
.header-menu-mobile{
    position: absolute;
    background:$main-bg-color;
    //padding: 16px 0 0;
    //box-sizing: border-box;
    width: 375px;
    border-radius: 1.5rem;
    box-shadow: 0 0.375rem 0.75rem rgba(233, 230, 231, 0.8);
    top: 7rem;
    z-index: 7;

  .first-menu {

  }

    .contacts-mobile{
        padding: 0 3rem;
        margin-bottom: 1rem;
        display: none;
        .phone {
            display: flex;
            flex-direction: column;
            font-style: normal;
            .number {
              font-weight: normal;
              font-size: 1rem;
              font-weight: bold;
              line-height: 1.0625rem;
              color: #0D2B4B;
              outline: none;
              text-decoration: none;
            }
            .title {
              font-size: 1rem;
              line-height: 1.375rem;
              color: $text-lite-color;
            }
          }
    }
    .item{
        //display: inline-block;
        font-size: 1.125rem;
        line-height: 1.5625rem;
        font-weight: bold;
        color: $text-lite-color;
        //padding: 0.2rem 3rem;
        white-space: nowrap;
        height: 1.5625rem;
        -webkit-transition: all 25ms;
        -moz-transition: all 25ms;
        transition: all 25ms;
        overflow: hidden;
        &.active{
            height: 100%;
            cursor: pointer;
            -webkit-transition: all 25ms;
            -moz-transition: all 25ms;
            transition: all 25ms;
            color:$text-color-active;
            outline: none;
        }

        a {
            font-size: 1.125rem;
            line-height: 1.5625rem;
            text-decoration: none;
            color: $text-lite-color;
            font-weight: bold;
            font-style: normal;
            display: flex;
            flex-wrap: nowrap;
            white-space: nowrap;
            outline: none;
            padding-bottom: 0.125rem;
            &:hover, &:active ,&:focus {
                color:$text-color-active;
                outline: none;
              }
          }
         
        &.drop{
            .drop-icon {

                //outline: none;
                //text-decoration: none;
                font-weight: bold;
                color: $text-lite-color;
                //width: 100%;
                //max-width: fit-content;
               span {
                position: relative;
                   &:before {
                    font-family: FontAwesome;
                    content: "\f054";
                    position: absolute;
                    color: #62738D;
                    font-size: 0.8rem;
                    font-weight: normal;
                    right: -2rem;
                    top: 0;
                    padding-left: 1rem;
                    transform: translateY(10%);
                }
               }
            }
            &.active{
                height: 100%;
                cursor: pointer;
                -webkit-transition: all 25ms;
                -moz-transition: all 25ms;
                transition: all 25ms;
                .drop-icon{
                    span:before {
                        top: 0.5rem;
                        transform: rotate(-90deg);
                    }
                }
            }
        }
        .dropdown{
            position: relative;
            background: $main-bg-color;
            box-sizing: border-box;
            padding: 0.5rem 1.25rem 0;
            li {
              &:last-child a{
                padding-bottom: 0;
              }
              a{
                font-size: 1.125rem;
                line-height: 1.5625rem;
                text-decoration: none;
                color: $text-lite-color;
                font-weight: normal;
                font-style: normal;
                display: flex;
                flex-wrap: nowrap;
                white-space: nowrap;
                outline: none;
                padding-bottom: 0.125rem;
                &.active{
                    color:$text-color-active;
                    outline: none;
                }
              }
              &:hover a, &:active a,&:focus a {
                color:$text-color-active;
                outline: none;
              }
            }
        }
        &.heart{
            height: 100%;
            .favorite-counter {
              display: inline-block;
              margin: 0 0 0 1rem;
            }
        }
    }
    .btn-give{
        margin: 1.5rem 3rem 2.25rem;
    }
    .box-social-locale, .box-social-locale{
        display: block!important;
        text-align: left !important;
        background: $bg-lite-box;
        padding: 2.3125rem 3rem;
        border-radius: 0 0 1.5rem 1.5rem;
    }
}
