@import'../../../../styles/variables.scss';
*, *:before, *:after {
    box-sizing: border-box;
}
.slide {
  .buttons-holder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -2.2rem;
    position: relative;
    z-index: 4;
  }
  .swiper-button-next, .swiper-button-prev {
    width: 4.1875rem;
    height: 4.1875rem;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 0 0 .5rem;
    z-index: 1;
  }
  .box-img {
    position: relative;
    max-width: 33.5rem;
    padding: 0.625rem;
    width: 100%;
    height: 24.6875rem;
    display: inline-block;
    transform: rotate(-5deg);
    &:before, &:after {
      position: absolute;
      content: '';
      border-radius: 1.875rem;
      background-color: $main-bg-color;
      box-shadow: 0px 6px 12px $bg-lite-lite;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 3;
    }
    &:after {
      z-index: 2;
      transform: rotate(5deg);
    }
    .image {
      position: relative;
      z-index: 4;
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 1.5rem;
      background-color: #eee;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
@media all and (max-width: $small-device-width) {
  .slide .box-img {
    transform: none;
    height: 20.125rem;
    &:after {
      transform: rotate(-5deg);
    }
  }        
}