@import '../../../../styles/include-media';
@import '../../../../styles/base/variables';
@import '../../../../styles/variables';
@import '../../../../styles/base/mixins';

.box-popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 999;

    .popup {
        position: absolute;
        max-width: 870px;
        width: 100%;
        border-radius: 24px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $main-bg-color;

        @include media('≤tablet') {
            max-width: 720px;
        }
    }

    .btn-close {
        position: absolute;
        right: 24px;
        top: 24px;

        @include media('≤xs-phone') {
            right: 16px;
            top: 16px;
        }
    }

    .first-block {
        position: relative;
        height: 250px;
        background: $bg-orange;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        overflow: hidden;

        @include media('≤phone') {
            height: 180px;
        }

        h2 {
            padding: 16px 16px 4px 60px;

            @include media('≤phone') {
                max-width: 50%;
                position: relative;
            }

            @include media('≤xs-phone') {
                padding: 0 0 6px 16px;
            }
        }
    }

    .pets {
        display: flex;
        flex-wrap: nowrap;
        padding: 0 16px;
        flex-shrink: 0;
        align-items: flex-end;
        margin-left: auto;

        @include media('≤tablet') {
            padding-right: 0;
            margin-right: -6px;
        }
    }

    .second-block {
        padding: 24px 60px 40px;

        @include media('≤xs-phone') {
            padding: 24px 16px 40px;
        }

        ul {
            list-style: inside;
        }
    }

    .bank-card {
        margin: 0 0 32px 0;
    }

    ul:not([class]) {

        li:not(:last-child) {
            margin-bottom: 16px;
        }

        span:before {
            @include size(6px);
            content: '';
            display: inline-block;
            vertical-align: middle;
            border-radius: 100%;
            background-color: $text-color;
            margin-right: 16px;
        }
    }

    .pet {
        display: inline-block;
        width: 100%;
        height: auto;
        max-width: 137px;
        margin-left: -24px;

        &.bg-image2 {
            margin-left: -40px;
        }
        &.bg-image3 {
            margin-left: -58px;
        }
    }

    .bg-image1 {
        margin-bottom: -24px;
    }

    .bg-image2 {
        @include media('≤xs-phone') {
            display: none;
        }
    }
    .bg-image3 {
        @include media('≤tablet') {
            display: none;
        }
    }

    .bank-card-info,
    .copy-to-clipboard {
        background-color: $bg-lite-box;
    }
}