@import '../../node_modules/reset-css/reset';
@import "font-face";
@import "media";
@import './variables';
* {
  box-sizing: border-box;
}
html body {
  margin: 0;
  font-family:'Nunito', 'Roboto',  sans-serif;
  color: $text-color;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

#root .app {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.content {
  max-width: 85.375rem;
  width: 100%;
  padding: 0 8.5625rem;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 100%;
}
.title {
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 1.5rem;
  font-weight: 900;
}
a {
  transition: $defaultHoverTransition;
}
