@import '../../node_modules/reset-css/reset';
@import "font-face";
@import './variables';
* {
  box-sizing: border-box;
}
html {  
  height: 100%;
  body {
    margin: 0;
    font-family:'Nunito', 'Roboto',  sans-serif;
    color: $text-color;
    font-size: 1.125rem;
    line-height: 1.625rem;
    height: 100%;
  }
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
header, footer {
  flex: 0 0 auto;
}
.main {
  flex: 1 0 auto;
}
.content {
  max-width: 85.375rem!important;
  width: 100%;
  padding: 0 8.5625rem;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 100%;
}
a {
  transition: $defaultHoverTransition;
  text-decoration: none;
}
.title {
    color: $text-color;
    font-size: 3rem;
    line-height: 2rem;
    font-weight: 900;
    margin: 0 0 1rem;
  }

@import "media";
