@import 'include-media';

@import './variables';
@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
//@import 'base/forms';
@import 'base/typography';

//@import '../../node_modules/reset-css/reset';

@import "font-face";

* {
  box-sizing: border-box;
}
//html {
//  height: 100%;
//  body {
//    margin: 0;
//    font-family:'Nunito', 'Roboto',  sans-serif;
//    color: $text-color;
//    font-size: 1.125rem;
//    line-height: 1.625rem;
//    height: 100%;
//    background: $bg-lite-box;
//  }
//}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
header, footer {
  flex: 0 0 auto;
}
.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.content {
  max-width: 85.375rem!important;
  width: 100%;
  padding: 0 8.5625rem;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 100%;
}

.container {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 1288px;
  
  @include media('≤desktop') {
    max-width: 1143px;
  }
}


a {
  transition: $defaultHoverTransition;
  text-decoration: none;
}

ul {
  @extend %listreset;
}

.title {
  color: $text-color;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 900;
  margin: 0 0 1rem;
  &.smaller {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

.numbered-list {
  counter-reset: item;
  margin: 0 0 3.25rem;
  li {
    padding: 0.7rem 0 0 4rem;
    position: relative;
    margin: 0 0 1rem;
    min-height: 3rem;
    &::before {
      font-weight: 900;
      font-size: 1.5rem;
      line-height: 1.5rem;
      content: counter(item);
      counter-increment: item;
      width: 3rem;
      height: 3rem;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      border: 1px solid $bg-lite-box;
      box-shadow: 0px 4px 6px $bg-lite-lite;
      border-radius: 50%;
      left: 0;
      top: 0;
    }
  }
}
.rules-list {
  li {
    padding: 0 0 0 2rem;
    position: relative;
    margin: 0 0 1rem;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.375rem;
      width: 1.1rem;
      height: 0.84rem;
      background-size: contain;
    }
  }
  &.correct li:before {
    background: url('./../img/icons/yes.png') no-repeat;
  }
  &.incorrect li:before {
    width: 0.875rem;
    height: 0.875rem;
    background: url('./../img/icons/no.png') no-repeat;
  }
}
.dots-list li {
  position: relative;
  padding: 0 0 0 1.2rem;
  margin: 0 0 1rem;
  &:before {
    content: '\2022';
    position: absolute;
    top: 0;
    left: 0;
  }
}
.bank-card-info {
  min-width: 21rem;
  display: inline-block;
  background: $bg-lite-gray;
  border-radius: 0.5rem;
  color:$btn-blue;
  padding: 0.375rem 1.5rem  0.125rem 1.5rem;
  margin: 0.875rem 0;
  .card{
      font-size: 1.5rem;
      line-height: 1.875rem;
      font-weight: bold;
  }
}
p.description {
  font-size: 1.5rem;
  line-height: 2.125rem;
}
.banner {
  height: 23.75rem;
  background: $bg-orange;
  border-radius: 1.5rem;
  position: relative;
  margin: 0 0 2.5625rem;
}
.block-holder {
  margin: 0 0 5rem;
}
.warning {
  background: $bg-warning;
  border-radius: 24px;
  padding: 2.5rem 3rem;
  font-size: 1.5rem;
  line-height: 2.125rem;
  strong {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 1rem;
  }
  p:last-child {
    margin: 0;
  }
}
input, textarea, ::placeholder {
  background: $input-bg-color;
  color: $text-lite-color;
  font: 1.125rem/1.5rem 'Nunito', 'Roboto', sans-serif;
}
.swiper-button-next, .swiper-button-prev {
  width: 3rem;
  height: 3rem;
  color: $text-color-active;
  box-shadow: 0px 8px 24px rgba(62, 91, 157, 0.5);
  border-radius: 50%;
  background: #ffffff;
  transition: $defaultHoverTransition;
  position: relative;
  border: none;
  outline: none;
  &:hover {
    background: #3E5B9D;
  }
}
.swiper-button-next:after, .swiper-button-prev:after {
  content: '';
  width: 0.8125rem;
  height: 0.8125rem;
  border-top: 0.125rem solid #ECBB3B;
  border-right: 0.125rem solid #ECBB3B;
  transform: rotate(45deg) skew(7deg, 7deg);
  margin: 0 0.375rem 0 0;
}
.swiper-button-prev:after {
  border-top: 0;
  border-right: 0;
  border-bottom: 0.125rem solid #ECBB3B;
  border-left: 0.125rem solid #ECBB3B;  
  margin: 0 0 0 0.375rem;
}
.boxAdmin{
  display: flex;
}
@import "media";
