@import './variables.scss';

@media all and (max-width: 1243px) {
  .content {
    padding: 0 5.5rem;
  }
}
@media all and (max-width: 856px) {
  .content {
    padding: 0 1.5rem!important;
  }
}
@media (max-width: $medium-device-width) {
  .title {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
}