$main-bg-color: white;
$menu-border-color: #F1F7FE;
$error-color: #f44336;
$error-color-text:  #F67670;
$bg-lite-box: #F9F6F7;
$bg-orange: #ECBB3B;
$bg-lite:#E6EAEF;
$bg-lite-gray:#F9F6F7;
$bg-lite-lite: #E9E6E7;
$bg-da: #DADADA;
$bg-warning: #F6E6C6;
$bg-lite-green: #C6DED6;
$bg-purple: #333572;

$text-color:#0D2B4B;
$text-color-active:#E2A811;
$text-lite-color:#62738D; 

$btn-blue: #3E5B9D;
$btn-hover: #409275;
$btn-press: #317E63;
$btn-story:#F2DEB5;
$btn-border: #DBDADB;
$btn-shadow: rgba($btn-blue, 0.5);

$input-bg-color: #F6EAD1;

$min-device-width: 375px;
$small-device-width: 568px;
$medium-device-width: 768px;
$normal-device-width: 1024px;
$max-device-width: 1366px;

$defaultHoverTransition: all .2s ease-in-out;