//main colors
$white:           #fff;
$orange:          #E2A811;
$red:             #F67670;
$green:           #409275;
$green-dark:      #317E63;
$blue:            #3E5B9D;  // rgb 62, 91, 157
$yellow-light:    #F6E6C6;
$gray-light:      #F9F6F7;

$main-bg-color: $white;
$menu-border-color: #F1F7FE;
$error-color: #f44336;
$error-color-text: $red;
$bg-lite-box: $gray-light;
$bg-orange: #ECBB3B;
$bg-lite:#E6EAEF;
$bg-lite-gray: $gray-light;
$bg-lite-lite: #E9E6E7;
$bg-da: #DADADA;
$bg-warning: $yellow-light;
$bg-lite-green: #C6DED6;
$bg-purple: #333572;
$brand-color-primary: $blue;

$text-color:#0D2B4B;
$text-color-active: $orange;
$text-lite-color:#62738D; 

$btn-blue: $blue;
$btn-hover: $green;
$btn-press: $green-dark;
$btn-story:#F2DEB5;
$btn-border: #DBDADB;
$btn-shadow: rgba($btn-blue, 0.5);

$input-bg-color: #F6EAD1;

$min-device-width: 375px;
$small-device-width: 568px;
$medium-device-width: 768px;
$normal-device-width: 1024px;
$max-device-width: 1366px;

$defaultHoverTransition: all .2s ease-in-out;