@import '../../../../styles/include-media';
@import '../../../../styles/base/variables';
@import '../../../../styles/variables';
@import '../../../../styles/base/mixins';

.section-animals {
    > header {
        position: relative;
        margin: 0;
        padding: 0;
    }

    .search-animals {
        max-width: 340px;
        position: relative;
        padding: 16px 0;

        @include media('≤phone') {
            padding: 8px 0 16px;
        }

        @include media('≤xs-phone') {
            max-width: none;
        }

        input {
            width: 100%;
            padding-right: 48px;
        }

        button {
            padding: 0;
            border: 0;
            background-color: transparent;
            font-size: 0;
            position: absolute;
            right: 11px;
            top: 50%;
            transform: translateY(-50%);

            &:before {
                font-size: 24px;
            }
        }
    }

    .btn {
        position: absolute;
        top: 0;
        right: 0;

        @include media('≤phone') {
            position: static;
            margin-bottom: 16px;
        }
    }

    .box-pagination {
        justify-content: flex-end;
    }
}

.animals-table {
    line-height: 1.33;

    header {
        @include media('≤phone') {
            display: none;
        }
    }

    .col {
        padding-top: 9px !important;
        padding-bottom: 9px !important;
    }

    .col-image {
        @include media('≤phone') {
            flex-basis: 96px;
            max-width: 96px;
            margin-bottom: 12px;
        }
    }

    .col-name {
        flex-basis: 13.38%;
        max-width: 13.38%;

        @include media('≤phone') {
            flex-basis: auto;
            max-width: none;
            width: calc(100% - 96px);
            flex-grow: 1;
            margin-bottom: 12px;
        }
    }

    .col-type {
        flex-basis: 10.72%;
        max-width: 10.72%;

        @include media('≤phone') {
            display: none;
        }
    }

    .col-status {
        flex-basis: 16.56%;
        max-width: 16.56%;

        @include media('≤phone') {
            flex-basis: auto;
            max-width: none;
            width: auto;
        }

        div {
            display: inline-block;
            vertical-align: top;
            padding: 4px 8px;
            border-radius: 4px;
        }

        .status-color-socialization {
            background-color: #dfecfe;
            color: #3e5b9d;
        }

        .status-color-treatment {
            background-color: #fedfdf;
            color: #f67670;
        }

        .status-color-readyforadoption {
            background-color: #e4f8e6;
            color: #2d7a5f;
        }

        .status-color-adopted {
            background-color: #409275;
            color: #f9f6f7;
        }

        .status-color-died {
            background-color: #62738d;
            color: #f9f6f7;
        }
    }

    .visual {
        padding-top: 75%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .add-info {
        display: none;

        @include media('≤phone') {
            display: block;
            color: $text-lite-color;
        }
    }
}