@import './../../styles/include-media';
@import './../../styles/variables.scss';
@import './../../styles/base/mixins';

.phone-block {
  margin: 0 auto;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  @include media('≤tablet') {
    margin: 0;
  }

  .icon-phone{
    position: relative;
    display:flex;
    align-items: center;
    width: 4.875rem;
    height: 4.875rem;
    margin-right: 0.875rem;
    box-sizing: border-box;
    background-color: $main-bg-color;
    border-radius: 50%;
    box-shadow: inset 0 0 0 15px rgba(236, 187, 59, 0.2);

    @include media('≤phone') {
      display: none;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 22px;
    }

    &:after {
      content:'';
      position: absolute;
      width: 3.75rem;
      height: 3.75rem;
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      box-shadow: inset 0 0 0 6px rgba(236, 187, 59, 0.5);
    }
  }
  .phone {

    .number {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 2.0625rem;
      color: #0D2B4B;
      white-space: nowrap;

      @include media('≤phone') {
        font-size: 20px;
        line-height: 27px;
      }
    }

    .title {
      display: block;
      font-size: 1rem;
      line-height: 1.375rem;
      color: $text-lite-color;
      font-weight: normal;
      margin: 0;

      @include media('≤phone') {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}