.select-wr {
  display: flex;
  flex-direction: column;


  .selected-wr {
    display: flex;
    flex-direction: row;

    .selected {
      height: 1rem;
    }

    .arrow {
      width: 1rem;
      height: 1rem;
    }

    .arrow-top {
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
  }

  .options {
    width: inherit;
    background: #FFF;

    .selected {
      background: #bababa;
    }
  }
}