@import '../../../../styles/variables.scss';

.our-goal-container {
    padding: 5rem 0 5rem;
    width: 100%;
    background: $main-bg-color;
    .title {
        position: relative;
        display: inline-block;
        font-size: 3rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .column-container {              
        flex-direction: row;
        display: flex;
        margin: 0; 
        padding: 0;   
        justify-content: space-between; 
        margin-bottom: 1.5rem;   
    }
    .left-block{
        width:50%;
        line-height: 1.625rem;
        margin-right: 1.5rem;
    }
    .right-block{
        width: 50%;
    }
} 

@media all and (max-width: $medium-device-width) {
    .our-goal-container{
        .column-container {              
            flex-direction: column;   
            display: flex;   
            margin-bottom: 1rem; 
        }
        .left-block{
            width:100%;
            line-height: 1.625rem;
            margin-right: 0rem;
            margin-bottom: 1.5rem;
        }
        .right-block{
            width: 100%;
        }
    }
}

@media all and (max-width: 545px) {
    .our-goal-container{
        .title {
            line-height: 3rem;
        }
    }
}

@media all and (max-width: 665px) {
    .our-goal-container{
        .content {
            padding: 0 1rem !important;
        }
    } 
}

@media all and (max-width: $min-device-width) {
    .our-goal-container {
        padding: 3rem 0 3rem;
        .title {
            font-size: 1.75rem;
            line-height: 1.75rem;
            margin-bottom: 1rem;
        }
        .column-container {              
            flex-direction: column;   
            display: flex; 
        }
        .left-block{
            width:100%;
            line-height: 1.5rem;
            margin-right: 0rem;
            margin-bottom: 1rem;
        }
        .right-block{
            width: 100%;
        }
    }
}