@import '../../../../styles/variables.scss';
.blog-page{
    background: $bg-lite-box;
    padding: 0 0 5rem;
    .title {
      margin: 0 0 1.5rem;
    }
    .box-btn{
        display:flex;
        justify-content: flex-start;
        margin-bottom: 2.5rem;
        li{
            font-size: 1rem;
            line-height: 1.5rem;
            padding: 0.25rem 1rem;
            color: $text-lite-color;
            border-radius: 1rem;
            margin-right: 1.5rem;
            background: $bg-lite-lite;
            &:hover{
                cursor: pointer;
            }
            &.all{
                background: $bg-lite-lite;
            }
            &.article{
                background: $bg-lite-lite;
            }
            &.story{
                position: relative;
                background: $btn-story;
                padding-left: 1.8rem;
                &:before{
                    font-family: FontAwesome;
                    content:"\f005";
                    position: absolute;
                    color: $text-color-active;
                    font-size: 1rem;
                    left: 0.6rem;
                    top: 50%;
                    transform: translateY(-50%);
                    
                }
            }
            &.active{
                background: $text-lite-color;
                color: $main-bg-color;
            }
        }
    }
    .box-articles{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
            li{
                text-decoration: none;
                width: 100%;
                max-width: 31.87%;
                margin: 0 0 1.5rem;
            }
    }
  
}
@media all and(max-width: $medium-device-width){
    .blog-page{
        .box-btn{
            flex-wrap: wrap;
            li{
                margin-bottom: 0.5rem;
            }
        }
        .box-articles li {
          max-width: 48%;
        }
    }
}
@media all and(max-width: $small-device-width){
    .blog-page .box-articles li{
      max-width: 100%;
    }
}