.button.like {
  width: 2.5rem;
  height: 2.5rem;
  background: url('../../img/icons/icon-heart.png') center center no-repeat #ffffff;
  background-size: 1.125rem 1rem;
  box-shadow: 0px 3px 4px rgba(25, 58, 75, 0.2);
  border-radius: 50%;
  opacity: 0.7;
  &:hover, &.active {
    background-image: url('../../img/icons/icon-heart-active.png');
    opacity: 1;
  }
}