@import './../../../../../styles/include-media';
@import './../../../../../styles/base/variables';
@import './../../../../../styles/variables';
@import './../../../../../styles/base/mixins';

.our-goal-container {
    background: $main-bg-color;

    .title {
        margin-bottom: 1.5rem;
    }

    .text {
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 24px;

        @include media('≤phone') {
            font-size: 24px;
        }
    }
}