.header {
  display: flex;

  .logo-contacts {
    margin: auto;
    display: inherit;

    .logo {
      margin: 0 1rem;
    }

    .logo-text {
      font-family: Rubik;
      font-style: normal;
      font-weight: bold;
      font-size: 1.375rem;
      line-height: 1.625rem;
      display: flex;
      align-items: center;
      color: #0D2B4B;
      margin-right: 7rem;
    }

    .phone {
      .title {
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #868697
      }

      .number {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #0D2B4B;
      }
    }
  }

  .language {
    display: unset;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #1B78A8;
  }
}
