.help-block {
  padding: 0 0 0 8.32rem;
  display: flex;
  flex-direction: row;
  .content {
    .text {
      padding: 2.25rem 0 0 0;
      font-style: normal;
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    .give-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: #FFFFFF;
      border: 1px solid #F1F7FE;
      box-sizing: border-box;
      box-shadow: 0 0.1875rem 0.375rem rgba(166, 205, 227, 0.4);
      border-radius: 3.2rem;
      margin-top: 1.375rem;

      .currency {
        display: flex;
        flex-direction: row;
        padding-left: 1.5rem;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.75rem;
        .type {
          display: flex;
          align-items: center;
          text-align: center;
          color: #0D2B4B;
        }
        input {
          -webkit-appearance: none;
          border : 0 none;
          outline:none;
          font-style: normal;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 1.75rem;
          width: 5rem;
          text-align: right;
          padding-right: 1rem;
          cursor: pointer;
        }
      }
    }
    .control-money {
       margin-top: 3.625rem;
      font-style: normal;
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 1.5rem;
      display: flex;
      align-items: center;
      color: #1B78A8;
      cursor: pointer;
    }
  }
  .img {
    width: 100%;
    height: auto;
  }
}
