@import './../../styles/include-media';
@import './../../styles/base/variables';
@import './../../styles/variables';
@import './../../styles/base/mixins';

.section-help {
  background: $bg-lite-gray;
  padding: 0 0 5rem;

  @include media('≤tablet') {
    padding-bottom: 50px;
  }

  @include media('≤phone') {
    padding-bottom: 40px;
  }

  &.dark {
    background: $bg-purple;
    padding: 80px 0;

    @include media('≤tablet') {
      padding: 40px 0;
    }

    h2 {
      color: $green;
    }
    
    .description-holder {
      @include media('≤phone') {
        color: $bg-lite-box;
      }
    }
  }

  .inner-content {
    display: flex;
    margin: 0 -16px;
    
    @include media('≤tablet') {
      display: block;
    }
  }

  .column {
    width: 50%;
    padding: 0 16px;

    @include media('≤tablet') {
      width: auto;
    }
  }

  .visual {
    padding: 20px 0 0;
    position: relative;

    @include media('≤tablet') {
      padding: 0;
      width: 552px;
      margin: 0 auto;
    }

    @include media('≤phone') {
      width: 100%;
    }

    h2 {
      display: none;

      @include media('≤tablet') {
        display: block;
        text-align: center;
      }

      @include media('≤phone') {
        text-align: left;
      }
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media('≤tablet') {
      width: 412px;
      margin: 67px auto 0;
      display: block;
      text-align: center;
    }
    
    @include media('≤phone') {
      width: 100%;
      margin-top: 32px;
    }

    h2 {
      @include media('≤tablet') {
        display: none;
      }
    }
  }

  h2 {
    margin-bottom: 32px;

    @include media('≤tablet') {
      margin-bottom: 24px;
    }
  }

  p {
    //overflow: hidden;
    //width: 100%;
    //overflow-wrap: break-word;
    //text-overflow: ellipsis;
    //-webkit-box-orient: vertical;
    //display: -webkit-box;
    //-webkit-line-clamp: 7;
  }

  .description-holder {
    font-size: 20px;
    line-height: 24px;
    font-style: italic;
    padding: 30px 40px;
    background-color: $yellow-light;
    box-shadow: 0 8px 24px rgba($btn-blue, 0.5);
    border-radius: 42px;
    position: relative;
    margin-bottom: 80px;
    
    @include media('≤tablet') {
      text-align: left;
      margin-bottom: 70px;
    }

    @include media('≤phone') {
      background-color: transparent;
      box-shadow: none;
      padding: 0;
      margin-bottom: 32px;
    }

    &:after {
      content: '';
      display: block;
      width: 121px;
      height: 73px;
      background: url('./../../img/after-bottom.png') 50% 0 no-repeat;
      position: absolute;
      left: 4px;
      top: 100%;

      @include media('≤tablet') {
        top: auto;
        transform: rotate3d(1, 0, 0, 180deg);
        bottom: 100%;
      }

      @include media('≤phone') {
        content: none;
      }
    }

    .description-title {
      font-size: 1.5rem;
      line-height: 2rem;
      display: inline-block;
      vertical-align: top;
      margin: 0 0 8px;
    }

    .wrap-btn {
      @include media('≤phone') {
        padding-top: 8px;
        text-align: center;
      }
    }

    .button {
      font-size: 18px;
      line-height: 25px;
      padding: 21px 40px;
      width: auto;
      font-style: normal;
      position: absolute;
      top: 100%;
      right: 40px;
      transform: translateY(-50%);

      @include media('≤phone') {
        position: static;
        transform: none;
      }
    }
  }

  .default-block-link {
    justify-content: flex-end;
    margin-top: auto;

    @include media('≤tablet') {
      text-align: center;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 8px;
    }
  }
}