@import '../../../../styles/include-media';
@import '../../../../styles/base/variables';
@import '../../../../styles/variables';
@import '../../../../styles/base/mixins';
@import '../../../../styles/base/helpers';

.section-categories {
  > header {
    padding-top: 0;
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 24px;
  }
}