@import '../../../../styles/include-media';
@import '../../../../styles/base/variables';
@import '../../../../styles/variables';
@import '../../../../styles/base/mixins';
@import '../../../../styles/base/helpers';

.favorites-page-holder {

    h2 {
        margin-bottom: 16px;
    }

    .text {
        margin-bottom: 40px;
    }

    .animals-slider-wrapper {
        padding: 20px 0 0;

        h2 {
            font-size: 36px;
            line-height: 1;
        }
    }
}