@import '../../../../styles/include-media';
@import '../../../../styles/base/variables';
@import '../../../../styles/variables';
@import '../../../../styles/base/mixins';

.animal-slider-holder {

  &:not(:first-child) {
    padding-top: 40px;
  }

  .bottomButton {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 1.5rem;
  }
  .slider-holder {
    margin: 0 -1.25rem 2rem;
  }
  .swiper-button-next, .swiper-button-prev {
    left: -0.2rem;
    top: 9rem;
  }
  .swiper-button-next {
    left: auto;
    right: -0.2rem;
  }
}

@media (max-width: $normal-device-width) {
  .animal-slider-holder {
    .slider-holder {
      max-width: 100%;
    }
    .custom-slider-inner, .swiper-container {
      overflow: visible;
    }
  }
}

@media (max-width: $medium-device-width) {
  .animal-slider-holder {
    .slider-holder {
      max-width: 100%;
    }
  }
}