@import '../../../../styles/variables.scss';
.animal-slider-holder {
  padding: 1.25rem 0;
  background: $bg-lite-box;
  .slider-holder {
    margin: 0 -1.25rem 2rem;
  }
  .swiper-button-next, .swiper-button-prev {
    left: -0.1rem;
    top: 9rem;
  }
  .swiper-button-next {
    left: auto;
    right: -0.1rem;
  }
}
@media (max-width: $normal-device-width) {
  .animal-slider-holder {
    padding: 3rem 0;
    .slider-holder {
      max-width: 100%;
    }
    .custom-slider-inner, .swiper-container {
      overflow: visible;
    }
  }
}

@media (max-width: $medium-device-width) {
  .animal-slider-holder {
    padding: 2rem 0;
    .slider-holder {
      max-width: 100%;
    }
  }
}