@import './../../styles/include-media';
@import './../../styles/base/variables';
@import './../../styles/variables';
@import './../../styles/base/mixins';

.expanded-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:nth-last-child(n + 2) {
    margin: 0 0 16px;
  }

  ul {
    @include animate(opacity);
    opacity: 0;
  }

  i {
    @include size(32px);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 0;
    background-color: $white;
    border-radius: 100%;
    box-shadow: 0 3px 4px rgba(166, 205, 227, 0.4);
    flex-shrink: 0;
    margin-right: 16px;

    &:before {
      @include animate(transform margin-left);
      font-size: 24px;
      transform: rotate(270deg);
      margin-left: 4px;
    }
  }

  .expanded-item-title {
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: $text-color-active;
    font-weight: bold;
    display: block;
  }

  .expanded-item-body {
    @include animate(max-height);
    width: 100%;
    transition: $defaultHoverTransition;
    max-height: 0;
    padding-left: 48px;
    overflow: hidden;

    > ul {
      padding-top: 8px;
    }
  }

  &.expanded {
    margin-bottom: 0;

    ul {
      opacity: 1;
    }

    i:before {
      transform: rotate(180deg);
      margin-left: 0;
    }
  }
}