@import '../../styles/variables.scss';
.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: $defaultHoverTransition;
  &:active, &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }

  &.blue{
    background: $btn-blue;
    color: $main-bg-color;
    border-radius: 4.81rem;
    height: inherit;
    text-align: center;
    padding: 1rem 3.25rem;
    letter-spacing: 0.1em;
    &:focus, &:hover{
      background: $btn-hover!important;
    }
    &:active{
      background: $btn-press!important;
    }
    &.btn-give{
      box-shadow: 0 0.5rem 1.5rem rgba(62, 91, 157, 0.5);
      &:focus, &:hover{
        box-shadow: 0 0.75rem 1.5rem rgba(62, 91, 157, 0.5);
      }
      &:active{
        box-shadow: 0 0.5rem 1.5rem rgba(62, 91, 157, 0.5);
      }
    }
  }
  &.yellow{
    background:$text-color-active;
    color: $main-bg-color;
    border-radius: 4.81rem;
    width: 11.25rem;
    height: inherit;
    text-align: center;
    padding: 1rem 0;
    letter-spacing: 0.1em;
    box-shadow: 0 0.5rem 1.5rem rgba(62, 91, 157, 0.5);
    &:focus, &:hover{
      background: $btn-hover!important;
      box-shadow: 0 0.75rem 1.5rem rgba(62, 91, 157, 0.5);
    }
    &:active{
      background: $btn-press!important;
      box-shadow: 0 0.5rem 1.5rem rgba(62, 91, 157, 0.5);
    }
  }
  &.blue-circle {
    background: url("../../assets/header/vector.svg") no-repeat center;
    background-color: $btn-blue;
    box-shadow: 0px 4px 16px rgba(62, 91, 157, 0.5);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    &:hover, &:focus {
      background-color: $text-color-active;
    }
  }
  &.like {
    width: 2.5rem;
    height: 2.5rem;
    background: url('../../img/icons/icon-heart.png') center center no-repeat #ffffff;
    background-size: 1.125rem 1rem;
    box-shadow: 0px 3px 4px rgba(25, 58, 75, 0.2);
    border-radius: 50%;
    opacity: 0.7;
    &:hover {
      background-image: url('../../img/icons/icon-heart-active.png');
      opacity: 1;
    }
  }
}