@import '../../styles/include-media';
@import '../../styles/base/variables';
@import '../../styles/variables';
@import '../../styles/base/mixins';

.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: $defaultHoverTransition;
  &:active, &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }

  &.blue{
    background: $btn-blue;
    color: $main-bg-color;
    border-radius: 4.81rem;
    text-align: center;
    padding: 1rem 1.5rem;
    letter-spacing: 0.1em;
    min-width: 9.75rem;
    box-shadow: 0 0.5rem 1.5rem rgba(62, 91, 157, 0.5);
    &:focus, &:hover{
      background: $btn-hover!important;
    }
    &:active{
      background: $btn-press!important;
    }
    &.btn-give{
      box-shadow: 0 0.5rem 1.5rem rgba(62, 91, 157, 0.5);
      &:focus, &:hover{
        box-shadow: 0 0.75rem 1.5rem rgba(62, 91, 157, 0.5);
      }
      &:active{
        box-shadow: 0 0.5rem 1.5rem rgba(62, 91, 157, 0.5);
      }
    }
  }
  &.yellow{
    background:$text-color-active;
    color: $main-bg-color;
    border-radius: 4.81rem;
    width: 11.25rem;
    text-align: center;
    padding: 1rem 0;
    letter-spacing: 0.1em;
    box-shadow: 0 0.5rem 1.5rem rgba(62, 91, 157, 0.5);
    &:focus, &:hover{
      background: $btn-hover!important;
      box-shadow: 0 0.75rem 1.5rem rgba(62, 91, 157, 0.5);
    }
    &:active{
      background: $btn-press!important;
      box-shadow: 0 0.5rem 1.5rem rgba(62, 91, 157, 0.5);
    }
  }
  &.blue-circle, &.white-circle {
    background-color: $btn-blue;
    box-shadow: 0px 4px 16px rgba(62, 91, 157, 0.5);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      content: '';
      background: url("../../assets/header/vector.svg") no-repeat center;
      width: 17px;
      height: 13.75px;
    }
    &:hover, &:focus {
      background-color: $text-color-active;
    }
  }
  &.white-circle {
    background-color: $bg-lite-box;
    &:after {
      background-image: url("../../img/icons/arrow-yellow.png");
    }
    &:hover, &:focus {
      background-color: $btn-blue;
    }
  }
  &.close {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: $main-bg-color;
    &:before, &:after {
      position: absolute;
      content: '';
      width: 0.1rem;
      height: 1.1rem;
      background:$text-lite-color;
      transform:  translate(-50%, -50%) rotate(45deg);
      left: 50%;
      top:50%;
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
}
}