@import '../../styles/include-media';
@import '../../styles/base/variables';
@import '../../styles/variables';
@import '../../styles/base/mixins';
@import '../../styles/base/helpers';

// Button kinds color
@mixin button-color($btn-background, $btn-color, $btn-border-color, $btn-hover-background, $btn-hover-color, $btn-hover-border-color) {
  background: $btn-background;
  color: $btn-color;
  border-color: $btn-border-color;

  &:hover {
    background: $btn-hover-background;
    color: $btn-hover-color;
    border-color: $btn-hover-border-color;
  }
}

.btn {
  @include animate(color background-color border-color box-shadow);
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  border: 2px solid;
  padding: 19px 40px;
  box-shadow: 0 8px 24px rgba($blue, .5);
  cursor: pointer;
  border-radius: 37px;
  letter-spacing: 0.1em;
  line-height: 25px;

  &:active,
  &:focus {
    outline: none;

  }

  &:hover {
    box-shadow: 0 12px 24px rgba($blue, .5);
  }
}

.btn-blue {
  @include button-color($blue, $gray-light, $blue, $green, $gray-light, $green);

  &:active,
  &:focus {
    background-color: $green-dark;
    border-color: $green-dark;
  }

  &-outline {
    @include button-color(transparent, $blue, $blue, $blue, $gray-light, $blue);
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }
}

.btn-yellow {
  @include button-color($yellow, $gray-light, $yellow, $green, $gray-light, $green);

  &:active,
  &:focus {
    background-color: $green-dark;
    border-color: $green-dark;
  }

  &-outline {
    @include button-color($white, $yellow, $yellow, $yellow, $gray-light, $yellow);
  }
}

.btn-white {
  @include button-color($gray-light, $yellow, $gray-light, $blue, $yellow, $blue);
}

.btn-circle {
  @include size(40px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 0;
  border: 0;
  box-shadow: 0 4px 16px rgba($blue, .5);

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 4px 16px rgba($blue, .5);
  }
}

.btn-close {
  &:before {
    @include size(14px);
    @extend %icomoon;
    content: "\e90e";
    font-size: 14px;
    color: $text-lite-color;
  }
}

.btn-sm {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
}