@import '../../../../styles/variables.scss';
.financial-report-block{
    padding: 3rem 0 5rem 0;
    background: $bg-lite-gray;
    @media all and (max-width:500px){
        padding: 1rem 0 2rem 0; 
    }
    .text-report{
        margin-bottom: 2.3125rem;
    }
    .box-reports{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
    }
    .maine-report{
        flex-basis: 33.3%;
        width:33.3%;
        padding: 0 1rem 1.2rem;
        @media all and (max-width:680px){
            width: 48%!important;
            flex-basis:  48%;
        }
        @media all and (max-width:400px){
            flex-basis:  50%;
            width:50%;
            padding: 0 0.5rem 0.5rem;
        }
    }
    .report{
        background: $bg-orange;
        border-radius: 1.5rem;
        color:$main-bg-color;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 2rem 1.5rem;
        margin-bottom: 1.5rem;
        display: flex;
        width: 100%;
        height: 12.4375rem;
        flex-direction: column;
        justify-content:space-between;
        align-self: flex-start;

        @media all and (max-width:500px){
            height:8rem;
            font-size: 1.1rem;
            line-height: 1.1rem;
            padding: 1rem;
        }
        @media all and (max-width:364px){
            font-size: 0.8rem;
            height:6rem;
        }
        .title-report{
            max-width: 10rem;
        }
        .date-report{
            display: flex;
            justify-content: flex-end;
            font-weight: 900;
        }
    }

}
