@import './../../../../styles/variables.scss';
@import './../../../../styles/include-media';
@import './../../../../styles/base/variables';
@import './../../../../styles/base/helpers';
@import './../../../../styles/base/mixins';

.footer {
  padding: 28px 0 0;

  @include media('≤tablet') {
    padding-top: 32px;
  }

  @include media('≤phone') {
    padding-top: 24px;
  }

  a {
    color: inherit;
  }

  nav {
    padding-top: 20px;

    @include media('≤tablet') {
      padding-top: 32px;
    }
  }

  .add-content {
    //width: 33.33%;
    flex: 0 0 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;

    @include media('≤tablet') {
        //flex: 0 0 33.33%;
      flex: 0 1 auto;
      background-color: transparent;
      box-shadow: none;
      padding: 0;

      &:after {
        content: none;
      }
    }

    @include media('≤phone') {
      justify-content: flex-start;
    }
  }

  .phone-block {
    flex: 1 1 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;

    @include media('≤tablet') {
        flex: 0 1 auto;
      margin: 0 auto 0 0;
    }

    @include media('≤phone') {
      margin: 0 0 24px 0;
      flex: 1 1 100%;
      justify-content: flex-start;
    }

    .icon-phone {
      @include media('≤phone') {
        display: block;
      }
    }

    .number {
      @include media('≤phone') {
        font-size: 1.5rem;
        line-height: 33px;
      }
    }
  }

  .social-links {
    padding-right: 32px;
    margin: 0 -8px;
    align-items: center;

    @include media('≤phone') {
      margin: 0 -2px;
    }

    li {
      padding: 0 8px;

      @include media('≤phone') {
        padding: 0 2px;
      }
    }
  }

  .button {
    line-height: 23px;

    @include media('≤tablet') {
      margin: 0;
    }
  }
}

.footer-top {
  display: flex;
  margin: 0 0 16px;

  @include media('≤tablet') {
    flex-direction: column-reverse;
  }

  .sub-list {
    @include media('≤phone') {
      display: none;
    }
  }
}

.footer-nav {
  @extend %clearfix;
  margin: 0 -40px;

  @include media('≤tablet') {
    max-width: 800px;
  }

  @include media('≤phone') {
    margin: 0 -8px;
    max-width: none;
    columns: 2;

    &:after {
      content: none;
    }
  }

  li {
    font-weight: 400;
  }

  > li {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    float: left;
    font-weight: 900;
    padding: 0 40px;

    @include media('≤tablet') {
      width: 266px;
    }

    @include media('≤phone') {
      width: 100%;
      padding: 0 8px;
      float: none;
    }

    &:nth-child(2) {
      @include media('≤phone') {
        padding-bottom: 40px;
      }
    }
  }

  a {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 16px;
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  padding: 19px 0;
  font-size: 14px;
  color: $text-lite-color;
  border-top: 1px solid #DBDADB;

  @include media('≤phone') {
    align-items: flex-start;
    padding: 24px 0;
  }

  .list {
    padding-right: 8px;
    
    @include media('≤phone') {
      padding-right: 76px;
    }

    li {
      display: inline;
      padding-right: 8px;

      + li {

        &:before {
          @include size(4px);
          content: '';
          display: inline-block;
          vertical-align: middle;
          background-color: $text-lite-color;
          border-radius: 100%;
          margin-right: 8px;
        }
      }
    }
  }

  .select {
    margin-left: auto;
    font-size: 16px;
  }
}