@import './../../../../styles/variables.scss';
.footer {
  background: $bg-lite-box;
  padding: 1.75rem 0;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem;
  .column {
    width: 50%;
    &:first-child {
      display: flex;
      justify-content: space-between;
      ul { margin: 0 1rem 0 0; }
      li { margin: 0 0 0.75rem; }
      .custom-list ul { margin-right: 0; }
      a { color: $text-color; }
      .head-link { font-weight: 900; }
    }
    &:last-child { text-align: right; }
  }
  .buttons-holder {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .social-links { margin: 0 2rem 0 0; }
  .mobile-view { display: none; }
  .desktop-view { display: block; }
  .phone-block { margin: 0 0 1.5rem; }
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6875rem 0 0;
  border-top: 1px solid #DBDADB;
  .rights {
    color: $text-lite-color;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0 1rem 0 0;
    span {
      position: relative;
      &:not(:last-child):after {
        content: "\2022";
        display: inline-block;
        vertical-align: baseline;
        margin: 0 0.5rem;
      }
    }
  }
}
@media (max-width: 855px) {
  .footer-top {
    .column {
      width: 55%;
      &:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
      }
    }
    .phone-block { margin: 0 0 1rem; }
    .buttons-holder { flex-direction: column-reverse; }
    .social-links {
      margin: 0;
      padding: 1rem 0 0;
    }
  }
}
@media (max-width: $medium-device-width) {
  .footer-top {
    flex-direction: column-reverse;
    margin: 0;
    .column, .column:last-child {
      width: 100%;
      margin: 0 0 2rem;
      flex-direction: row;
      justify-content: space-between;
    }
    .column:first-child {
      justify-content: flex-start;
      margin: 0 0 1rem;
      ul { margin: 0 11% 0 0; }
    }
    .buttons-holder { flex-direction: row; }
    .social-links {
      padding: 0;
      margin: 0 2rem 0 0;
      li { margin: .25rem; }
    }
  }
}
@media (max-width: 720px) {
  .footer-top .column:last-child {
    flex-direction: column;
  }
}
@media (max-width: 430px) {
  .footer-top {
    .column:first-child {
      justify-content: space-between;
    }
    ul li, .desktop-view {
      display: none;
    }
    .custom-list ul li, .mobile-view, .social-links li {
      display: block;
    }
  }
}