@import '../../styles/include-media';
@import '../../styles/base/variables';
@import '../../styles/variables';
@import '../../styles/base/mixins';

.box-checkbox {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;

    &:hover span:before{
        border-color: $orange;
    }

    input {
        display: none;

        &:checked + span:before {
            border: 2px solid $orange;
        }

        &:checked + span:after {
            content: '';
            @include size(12px);
            display: block;
            border-radius: 2px;
            background-color: $orange;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 6px;
        }
    }

    span {
        position: relative;
        padding-left: 36px;

        &:before {
            @include animate(border-color);
            @include size(24px);
            content: '';
            display: block;
            border: 2px solid #DBDADB;
            border-radius: 4px;
            background-color: $main-bg-color;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
}