@import '../../../../styles/include-media';
@import '../../../../styles/base/variables';
@import '../../../../styles/variables';
@import '../../../../styles/base/mixins';


.blog-table {
  line-height: 1.33;


  .col-title {
    flex-basis: 45%;
    max-width: 45%;

    @include media('小hone') {
      display: none;
    }
  }

  .col-type {
    flex-basis: 20%;
    max-width: 20%;

    @include media('小hone') {
      display: none;
    }
  }

  .col-modified {
    flex-basis: calc(35% - 6rem);
    max-width: calc(35% - 6rem);

    @include media('小hone') {
      display: none;
    }
  }

  .col-btn {
    flex-basis: 3rem;
    max-width: 3rem;

    @include media('小hone') {
      flex-basis: auto;
      max-width: none;
      width: auto;
      margin-left: auto;
    }
  }
}

.box-btn {
  display:flex;
  flex-wrap: wrap;
  padding-bottom: 24px;

  li {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.25rem 1rem;
    color: $text-lite-color;
    border-radius: 1rem;
    margin: 0 24px 16px 0;
    background: $bg-lite-lite;

    &:hover{
      cursor: pointer;
    }
    &.all{
      background: $bg-lite-lite;
    }
    &.article{
      background: $bg-lite-lite;
    }
    &.story{
      position: relative;
      background: $btn-story;
      padding-left: 1.8rem;
      &:before{
        font-family: FontAwesome;
        content:"\f005";
        position: absolute;
        color: $text-color-active;
        font-size: 1rem;
        left: 0.6rem;
        top: 50%;
        transform: translateY(-50%);

      }
    }
    &.active{
      background: $text-lite-color;
      color: $main-bg-color;
    }
  }
}

.add-image-button-container {
  .add-image-button {
    cursor: pointer;
    height: 48px;
    border: 2px solid #3E5B9D;
    border-radius: 24px;
    margin: 16px 0;
    padding: 10px 20px;
    font-weight: 700;
    line-height: 24px;
    color: #3E5B9D;
    display: inline-block;
  }
}

.image-preview-container {
  display: inline-block;
  margin: 6px 12px;
  .image-preview {
    height: 100px;
  }
  position: relative;
  .delete-image {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.hidden {
  display: none;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  .button-add-new-article {
    cursor: pointer;
    height: 48px;
    border: 2px solid #3E5B9D;
    border-radius: 24px;
    padding: 10px 20px;
    font-weight: 700;
    line-height: 24px;
    color: #3E5B9D;
    background-color: transparent;
    display: inline-block;
  }
}
