@import '../../styles/base/variables';
@import '../../styles/variables';

.html-editor-wrapper {
  .ql-toolbar {
    button {
      svg .ql-stroke {
        stroke: $text-lite-color;
      }

      &.ql-active,
      &:hover {
        svg .ql-stroke,
        svg .ql-fill {
          stroke: $text-color;
        }
      }
    }
  }

  .ql-editor {
    font-family: $base-font-family;
    font-size: $font-size-base;
    color: $text-color;
  }
}
