@import './../../../../styles/include-media';
@import './../../../../styles/base/variables';
@import './../../../../styles/variables';
@import './../../../../styles/base/mixins';

.animal-item-page {
  .back-link {
    margin-bottom: 24px;
  }

  h4 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 32px;
  }

  .animal-info {
    .inner-content {
      display: flex;

      @include media('≤phone') {
        display: block;
      }
    }

    .visual {
      width: 61.28%;
      padding: 0 40px 0 0;

      @include media('≤tablet') {
        width: 50%;
      }

      @include media('≤phone') {
        width: 100%;
        padding: 0 45px 40px;
      }

      @include media('≤xs-phone') {
        padding: 0;
      }
    }

    .text {
      width: 38.72%;

      @include media('≤tablet') {
        width: 50%;
      }

      @include media('≤phone') {
        width: 100%;
      }
    }

    .custom-slider-inner {
      border-radius: 1.5rem;
      background-color: $bg-lite-lite;
    }

    .swiper-slide {
      padding-top: 75%;
      position: relative;

      .img-holder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .thumb-swiper .swiper-slide {
      border-radius: 8px;
      padding-top: 0;

      img {
        max-height: 100%;
      }
    }
  }

  .main-info {
    position: relative;

    h2 {
      padding-right: 45px;
      margin-bottom: 0;
    }

    .like {
      position: absolute;
      top: 0;
      right: 0;
    }

    .animal-number {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 1.5;
      color: $text-lite-color;
    }

    .gender-age {
      margin-bottom: 16px;
      font-size: 24px;
      line-height: 1.5;
    }

    .gender:after {
      @include size(8px)
      content: "";
      display: inline-block;
      vertical-align: middle;
      border-radius: 100%;
      background-color: $text-color;
      margin: -2px 0.5rem 0;
    }
  }

  .tags-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 -8px;
    padding-bottom: 24px;
    color: $text-lite-color;

    li {
      padding: 0 8px;
      margin-bottom: 8px;

      &.medical > span {
        background: $bg-lite-green;
      }

      &.additional > span {
        background: $btn-story;
      }

      i {
        font-size: 0;

        &:before {
          display: inline-block;
          vertical-align: top;
          font-size: 24px;
          line-height: 1;
          margin-right: 4px;
        }
      }

      > span {
        display: inline-block;
        vertical-align: top;
        padding: 4px 16px;
        background: $bg-lite-lite;
        border-radius: 1rem;
      }
    }
  }

  .facebook-share {
    padding-top: 32px;
    max-width: 425px;

    @include media('≤xs-phone') {
      max-width: none;
    }
  }

  .instructions {
    background-color: $white;

    .numbered-list {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(2, auto);
      grid-auto-flow: column;
      margin: 0;

      @include media('≤phone') {
        display: block;
      }

      li {
        margin-bottom: 0;

        &:nth-child(2n-1) {
          margin-bottom: 24px;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }
  .animal-slider-holder {
    .animal-kind {
      text-transform: lowercase;
    }
  }
}