@import './../../../styles/include-media';
@import './../../../styles/base/variables';
@import './../../../styles/variables';
@import './../../../styles/base/mixins';

.rules-page-holder {
  background: $bg-lite-box;
  p {
    margin: 0 0 2rem;
  }
  .title {
    margin: 0 0 1.5rem;
  }
  h3.title {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
  a.number {
    font-weight: bold;
    color: $text-color;
    cursor: default;
  }

  .rules-content {
    max-width: 54.375rem;
    margin: 0 auto;
  }
  .row-holder {
    display: flex;
    justify-content: space-between;
    & > ul {
      flex-basis: 50%;
      margin: 0 2rem 0 0;
      &:last-child {
        margin: 0 0 0 2rem;
      }
    }
  }
  .list-item-title {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.5rem;
    display: block;
    margin: 0 0 1.5rem;
  }
}
@media (max-width: $medium-device-width) {
  .rules-page-holder .row-holder > ul {
    margin: 0 1rem 0 0;
    &:last-child {
      margin: 0 0 0 1rem;
    }
  }
}

@media (max-width: 600px) {
  .rules-page-holder {

    .row-holder {
      display: block;
      & > ul, & > ul:last-child {
        flex-basis: 100%;
        margin: 0 0 1.5rem;
      }
    }
  }
}
@media (max-width: $small-device-width) {
  .rules-page-holder .list-item-title ~ p{
    margin-left: -4rem;
  }
}