@import '../../styles/include-media';
@import '../../styles/base/variables';
@import '../../styles/variables';
@import '../../styles/base/mixins';

.box-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .section-heading {
        margin-right: auto;

        h2 {
            margin-bottom: 0;
        }
    }

    .hold-link {
        @include media('≤tablet') {
            order: 1;
        }
    }

    ul {
        padding-top: 24px;
        width: calc(100% + 24px);
    }
}

.box-video {
    display: flex;
    margin: 0 -12px;
    font-size: 20px;
    line-height: 1.4;
    
    @include media('≤tablet') {
        margin-bottom: 24px;
    }

    @include media('≤xs-phone') {
        display: block;
        margin: 0 0 32px;
    }

    li {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 0 12px;

        @include media('≤xs-phone') {
            width: 100%;
            padding: 0;
        }

        + li {
            @include media('≤xs-phone') {
                padding-top: 32px;
            }
        }
    }

    .video {
        width: 100%;
        margin-bottom: 24px;
        padding-bottom: 52.54%;
        border-radius: 24px;
        position: relative;
        overflow: hidden;

        @include media('≤phone') {
            margin-bottom: 16px;
        }

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    p {
        margin-bottom: 0;
    }
}

.play-btn {
    @include size(80px);
    display: block;
    border: 0;
    padding: 0;
    background-color: $btn-blue;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
    cursor: pointer;
    //display: none;

    &:after {
        @include triangle(25px 21px, $white, right);
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% + 4px), -50%);
    }
}