@import '../../../../styles/include-media';
@import '../../../../styles/base/variables';
@import '../../../../styles/variables';
@import '../../../../styles/base/mixins';
@import '../../../../styles/base/helpers';

.animal-card {
  display: block;
  margin: 0.875rem 1.25rem 0;
  position: relative;

  .btn.like {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 4;
  }

  &:hover {
    .img-holder {
      box-shadow: 0 8px 24px rgba(62, 91, 157, 0.5);
    }
  }

  .img-holder {
    @include animate(box-shadow);
    padding-top: 75%;
    background-size: cover;
    background-position: 50% 50%;
    background-color: $white;
    border-radius: 24px;
    margin: 0 0 16px;
  }

  .animal-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 4px;
    display: block;
    color: $text-color;
  }

  .description {
    color: $text-lite-color;
    font-size: 16px;
  }
}