@import '../../../../styles/variables.scss';
.animal-card {
  display: block;
  margin: 0.875rem 1.25rem 0;
  position: relative;
  .button.like {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    z-index: 4;
  }
  &:hover {
    .img-holder {
      box-shadow: 0px 8px 24px rgba(62, 91, 157, 0.5);
    }
  }
  .img-holder {
    height: 16.375rem;
    background-size: cover;
    background-position: center;
    border-radius: 1.5rem;
    margin: 0 0 1rem;
    transition: $defaultHoverTransition;
    text-align: right;
  }
  .animal-name {
    line-height: 1.25rem;
    font-weight: bold;
    margin: 0 0 0.25rem;
    display: block;
    color: $text-color;
  }
  .description {
    line-height: 1.375rem;
    color: $text-lite-color;
  }
}