@import '~antd/dist/antd.css';
@import '../../../../styles/include-media';
@import '../../../../styles/base/variables';
@import '../../../../styles/variables';
@import '../../../../styles/base/mixins';
@import '../../../../styles/base/helpers';

.section-reports {
    max-width: 647px;

    h4 {
        font-weight: 700;
        line-height: 1.333333333;
        margin-bottom: 24px;
    }

    label {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 4px;
    }

    .ant-tabs {
        font-size: 16px;
        line-height: 1.5;
        color: inherit;
    }

    [type="file"] {
        display: none;

        + label {
            display: block;
            height: 48px;
            background-color: $white;
            border-radius: 4px;
            border: 1px solid $btn-border;
            cursor: pointer;
        }
    }

    .ant-picker {
        border: 1px solid $btn-border;
        border-radius: 4px;

        .ant-picker-active-bar {
            display: none;
        }
    }

    .ant-picker-range {
        width: 100%;
        padding: 11px 16px;

        .ant-picker-clear {
            top: 11px;
            right: 2px;
        }
    }

    .ant-picker-focused {
        border-color: lighten($brand-color-primary, 10%);
        box-shadow: 0 0 0 1px lighten($brand-color-primary, 10%);
    }

    .ant-picker-range-separator {
        padding: 0 27px;
    }

    .ant-picker-separator {
        font-size: 0;
        width: auto;
        height: auto;
        display: flex;
        align-items: center;

        &:before {
            @extend %icomoon;
            content: "\e90c";
            font-size: 14px;
            color: $text-lite-color;

        }
    }

    .ant-picker-suffix {
        font-size: 0;

        &:before {
            @extend %icomoon;
            content: "\e916";
            font-size: 24px;
            color: $text-lite-color;

        }
    }

    .ant-picker-input {
        input {
            font-size: 18px;
            line-height: 24px;

            &:focus {
                border: 0;
                box-shadow: none;
            }

            @include placeholder {
                font-size: inherit;
                color: #95A3B8;
            }

            border: 0;
            padding: 0;


        }
    }

    .title-uploaded-reports {
        display: inline-block;
        vertical-align: top;
        padding-top: 8px;
        color: $text-lite-color;
        margin-bottom: 16px;
    }

    .list-reports {
        grid-template-rows: repeat(6, 1fr);
        //padding: 52px 0 48px;
        padding: 0;
        margin-bottom: 16px;

        @include media('≤xs-phone') {
            display: block;
        }

        .report {
            display: flex;
            align-items: center;
            margin-right: 20px;
            cursor: pointer;
        }

        .title-item {
            padding: 0 8px 0 4px;
        }
    }
}

.section-new-report {
    background-color: $gray-light;
    border-radius: 8px;
    padding: 24px 16px;
    margin-bottom: 60px;

    form {
        display: flex;
        margin: 0 -8px;
        margin-bottom: 24px;

        @include media('≤phone') {
            display: block;
        }
    }

    .field {
        width: 43%;
        padding: 0 8px;
        @include media('≤phone') {
            width: 100%;
        }

        .ant-picker {
            height: 48px;
        }

        + .field {
            width: 57%;

            @include media('≤phone') {
                width: 100%;
            }
        }

        label:last-child {
            margin-bottom: 0;
        }
    }
}

.inner-all-reports {
    padding-top: 8px;
}

.sub-notes {
  display: block;
  padding-top: 4px;
  font-size: 14px;
  line-height: 18px;
  color: #62738d;
}
