@import '~antd/dist/antd.css';
@import'../../../../styles/variables.scss';
.main-report{
    padding: 1rem 1.5rem;
    button{
        margin-bottom: 2.5rem;
    }
    .delete{
        position: relative;
        display: inline-block;
        &:after{
            position: absolute;
            content:'х';
            width: 1rem;
            height: 1.5rem;
            color: $text-lite-color;
            font-size:0.9rem;
            top:-1.5rem;
        }
    }
    .report{
        color: $text-lite-color;
    }
    .title{
        margin-bottom: 0.8rem;
        font-size:2rem;
    }
    form{
        display:flex;
        justify-content: space-between;
        .ant-picker{
            padding: 0 1rem;
            box-sizing: border-box;
            input{
                margin: 0;
            }
        }
        .field{
            max-width: 24%;
            input{
                width:100%;
                background: $main-bg-color;
                margin-bottom: 0.8rem;
            
            }
            .fileInput{
                padding: 5px 8px;
                box-sizing:border-box;
                border-radius: 3px;
                &::placeholder{
                    font-size:0.7rem!important;
                }
            }
            label{
                font-weight:400;
                margin-bottom: 0.4rem;
                font-size:0.7rem;
                display:inline-block;
            }
        }
        .custom-file-input::-webkit-file-upload-button {
            visibility: hidden;
            display:none!important;
        }
        .custom-file-input::before {
            content: 'Вибрати новий звiт';
            display: inline-block;
            background: linear-gradient(top, #f9f9f9, #e3e3e3);
            border: 1px solid #999;
            border-radius: 3px;
            padding: 5px 8px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
            font-weight: 700;
            font-size: 0.7rem;
            width:100%;
        }
        .custom-file-input:hover::before {
            border-color: black;
        }
        .custom-file-input:active::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        }
    }
}