@import './../../styles/variables.scss';
a {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: $text-color-active;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    .button {
      margin-left: 1rem;
    }
    &:hover {
      color: $btn-hover;
      .button.blue-circle {
        background-color: $text-color-active;
      }
    }        
  }