@import './../../styles/include-media';
@import './../../styles/base/variables';
@import './../../styles/variables';
@import './../../styles/base/mixins';
@import './../../styles/base/helpers';

.default-block-link {
  font-size: 20px;
  line-height: 1.2;
  //color: $text-color-active;
  font-weight: bold;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    margin-left: 16px;

    &:before {
      @extend %icomoon;
      content: "\e90c";
      font-size: 14px;
    }
  }

  &:hover {
    //color: $btn-hover;

    .btn.btn-circle {
      background-color: $blue;
    }
  }
  &.back-link {
    flex-direction: row-reverse;

    .btn {
      margin: 0 16px 0 0;

      &:before {
        content: '\e90b';
      }
    }
  }     
}