@import './../../styles/variables.scss';

.default-block-link {
  font-size: 20px;
  line-height: 1.2;
  //color: $text-color-active;
  font-weight: bold;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  .button {
    margin-left: 16px;
  }
  &:hover {
    //color: $btn-hover;

    .button.white-circle {
      background-color: $btn-blue;
    }
  }
  &.back-link {
    flex-direction: row-reverse;

    .button {
      margin: 0 16px 0 0;

      &:after {
        transform: rotate(180deg);
      }
    }
  }     
}