@import './../../styles/include-media';
@import './../../styles/base/variables';
@import './../../styles/variables';
@import './../../styles/base/mixins';

.image-help-holder {
  position: relative;

  .dark & {
    .image-help,
    &:before {
      box-shadow: 0 8px 24px rgba($btn-blue, 0.5);
    }
  }

  &:before {
    content: '';
    background-color: $white;
    border-radius: 30px;
    overflow: hidden;
    transform: scale(0.95) rotate(0deg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 6px 12px $bg-lite-lite;
  }

  .image-help {
    width: 100%;
    padding-top: 72%;
    position: relative;
    border: 10px solid $white;
    border-radius: 30px;
    transform: scale(0.95) rotate(-5deg);
    background-color: #eee;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 6px 12px $bg-lite-lite;
  }
}

.buttons-help-holder {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: -18px;
  right: 18px;

  .swiper-button-next, .swiper-button-prev {
    width: 4.1875rem;
    height: 4.1875rem;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 0 0 .5rem;
    z-index: 1;
  }
}