@import './../../../../../styles/include-media';
@import './../../../../../styles/base/variables';
@import './../../../../../styles/variables';
@import './../../../../../styles/base/mixins';

.section-helped {
  background: $white;

  .custom-slider-wrapper {
    @include media('≤phone') {
      max-width: 534px;
      margin: 0 auto;
    }
  }

  .btn-wrap {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 24px;
  }

  .slider-holder {
    
    @include media('≤phone') {
      padding: 0 24px;
    }

    @include media('≤xs-phone') {
      padding: 0;
    }


    h4 {
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 24px;
    }

    .custom-slider-inner {
      border-radius: 24px;
      
      @include media('≤phone') {

      }
    }
    .swiper-container, .slide-item {
      background: $bg-lite-box;
    }
  }
  .swiper-slide {
    border-radius: 24px;
    //height: 25rem;
    display: flex;
    overflow: hidden;

    @include media('≤phone') {
      display: block;
    }

    .inner-col {
      width: 50%;
      display: flex;
      flex: 0 1 50%;

      @include media('≤tablet') {
        min-height: 300px;
      }

      @include media('≤phone') {
        min-height: 0;
        flex-basis: auto;
        width: 100%;
      }
    }

    .visual {
      width: 100%;
      background-size: cover;
      background-position: center;
      padding-top: 75%;
      margin-right: 12px;

      @include media('≤tablet') {
        padding-top: 0;
        height: 100%;
      }

      @include media('≤phone') {
        padding-top: 75%;
        height: auto;
        margin-right: 0;
      }

      @include media('≤xs-phone') {
        height: 257px;
        padding-top: 0;
      }
    }

    .text {
      padding: 40px 60px 24px 12px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include media('≤phone') {
        padding: 40px 24px 24px;
      }
    }

    .info-text {
      //flex-grow: 1;
      overflow: hidden;
      width: 100%;
      overflow-wrap: break-word;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      
      @include media('≤tablet') {
        -webkit-line-clamp: 4;
      }
      
      @include media('≤phone') {
        -webkit-line-clamp: 8;
      }
    }



  }

  .custom-slider-wrapper.pagination-active .swiper-button-next,
  .custom-slider-wrapper.pagination-active .swiper-button-prev {
    @include media('≤xs-phone') {
      top: 257px;
      margin-top: 0;
      transform: translateY(-50%);
      right: 0;
    }
  }

  .custom-slider-wrapper .swiper-button-prev {
    @include media('≤xs-phone') {
      right: auto;
      left: 0;
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    @include media('≤xs-phone') {
      margin: 0 8px;
    }
  }
}