.helped-holder {
  padding: 5rem 8.5rem;
}
.title {
  color: #0D2B4B;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 900;
  margin: 0 0 1rem;
}

.slide-item {
  border-radius: 1.5rem;
  height: 25rem;
  display: flex;
  overflow: hidden;
  & > div {
    width: 50%;
  }
  .img-holder {
    background-size: cover;
    background-position: center;
  }
  .info-holder {
    padding: 3rem 1.125rem;
    display: flex;
  }
  .info-content {
    position: relative;
    padding-bottom: 1.875rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .info-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 900;
    color: #0D2B4B;
    margin: 0 0 1.5rem;
  }
  .info-text {
    flex-grow: 1;
    overflow: hidden;
  }
  a {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #E2A811;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}